#heading {
                
                text-align: center;
                font-size: 50px;
                color :darkgoldenrod;
                font-family: serif
                
            }
        
body{
    background-image: url(background.jpg);
}
       
          
            input[type=text], select {
                    width: 75%;
                    padding: 12px 20px;
                    margin: 8px 0;
                    display: inline-block;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
            }
            input[type=number], select {
                    width: 75%;
                    padding: 12px 20px;
                    margin: 8px 0;
                    display: inline-block;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
            }
             input[type=email], select {
                    width: 75%;
                    padding: 12px 20px;
                    margin: 8px 0;
                    display: inline-block;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
            }
            
            
            form {
                border-radius: 5px;
                
                padding: 20px;
            }
            p{
                font-family:cursive;
            }
            .projects{
                width: 25%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }
        